<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta Dojo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Fuente Balsamiq Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <h2>Encuesta Dojo</h2>
        <form action='/process' class= "form-dojo" method='POST'>
            <div class = "area">
                <label>Nombre :</label>
                <input type="text" name="nombre">
            </div>
            <div class = "area">
                <label>Localización del Dojo :</label>
                <select name="loc-dojo">
                    <option value='San Francisco'>San Francisco</option>
                    <option value='New York'>New York</option>
                    <option value='Florida'>Florida</option>
                    <option value='Boston'>Boston</option>
                    <option value='California'>California</option>
                </select>
            </div>
            <div class = "area">
                <label>Lenguaje favorito :</label>
                <select name="leng">
                    <option value='JavaScript'>JavaScript</option>
                    <option value='Python'>Python</option>
                    <option value='Java'>Java</option>
                    <option value='C#'>C#</option>
                    <option value='R'>R</option>
                </select>
            </div>
            <div class = "area">
                <label>Comentario (opcional) : </label>
                <textarea type="text" name="comments"></textarea>
            </div>
            <button type="submit" class = "submitBtn">Enviar</button>
        </form>
    </main>
</body>
</html>